.sign-in {
  width: 300px;
  padding: 1rem;
  background: #ccc;
  margin: 3rem auto;
  animation: slide-in 1s;
}

@keyframes slide-in {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
